<%layout("/common/layout.html") { %>
<!-- [START 新闻中心 一览] -->
<!-- [滚动广告  一览] -->
<div id="include-listview-banners" class="content">
    <h2>滚动广告 一览</h2>
    <fieldset>
        <table id="table_listView" class="zebra">
            <thead>
            <tr>
                <th width="10%">用户名</th>
                <th width="15%">昵称</th>
                <th width="25%">创建时间</th>
                <th width="10%">激活状态</th>
                <th width="10%">账号类型</th>
                <th width="10%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
        <!-- 表头  - START -->
    </fieldset>
    <!-- 表内容 - END --> 
    <!-- End of fieldset -->
</div>
<!-- [END 新闻中心 一览] -->
<%}%>