<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>信息管理-登录</title>

    <!-- 浏览器选项卡图标 -->
    <link rel="shortcut icon" href="../images/main/favicon.png" /> 

    <!-- 链接css文件 -->
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    
    <!-- javaScript -->
    <script type="text/javascript" src="../js/login/login.js"></script>
</head>
<body>
    <div id="container">
        <img src="../images/main/logo.png" width="150"/>
        <h1>管理员登录</h1>
        <div id="box">
            <form action="toLogin" method="post">
            <!-- Fieldset -->
            <fieldset> 
            <div class="input_field">
            <p class="main">
                <label>用户名: </label>
                <input name="param.admin.userName" value="" class="input"
                   onclick="clearSessionOfErrorMsg('errorMsg');" />
            </p>
            <p class="main">
                <label>密&nbsp;&nbsp;&nbsp;码: </label>
                <input type="password" name="param.admin.password" value="" class="input"
                    onclick="clearSessionOfErrorMsg('errorMsg')" />
            </p>
            <p class="main">
                <label>验证码: </label>
                <input type="text" name="param.securityCode" value="" class="input"
                    onclick="clearSessionOfErrorMsg('errorMsg')" />
                <img
                 src="/code.do"
                    id="Verify" alt="看不清，换一张"
                    onclick="imgClick(this,'')" 
                        style="cursor:pointer;"/>
            </p>
            <p class="space">
                <span>
                <input type="checkbox" name="param.remenberType"
                 value="" />记住用户名</span>
                <input type="submit" value="登录" class="login" />
            </p>
            </div>
            </fieldset>
            </form>

            <!-- End of fieldset -->
            <div style="margin-top:20px;">
                <span id="errorMsg" class="error_msg" ></span>
                <span id="messages">
                </span>
            </div>
        </div>
    </div>
</body>
</html>